<div class="row">
    <div class="col-md-12">
         </div>
</div>
<div class="row">
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Extensive, formal critical review published in 2017: the acetaminophen-autism connection</h5>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/review?uri=urn:aaid:scds:US:a588319d-c71a-42dc-bb80-00fe27cf8fd8" target="_blank">Read Article</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">An analysis of the very first study, published in 2008, showing a link between acetaminophen and autism. A brief online article from 2020</h5>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:837e1033-7db5-4a4b-a35e-941305105f00" target="_blank">Read Article</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Proof that acetaminophen was never shown to be safe for brain development in babies and children. Published in the European Journal of Pediatrics in 2022.</h5>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://link.springer.com/article/10.1007/s00431-022-04407-w" target="_blank">Read Article</a></div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Acetaminophen as a Cause of Autism: It sounds like a conspiracy theory, but it’s not</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:57d29382-ce9e-4f07-a28f-11b296b9ff55" target="_blank">Read Article</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">More risk for babies and children than for the fetus. A brief informal review of evidence from 2017</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:b6bfc55e-83de-4f49-b9bc-3f2d1bffc702" target="_blank">Read Article</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Acetaminophen causes long-term increases in non-social behavior when used in baby rats at levels assumed to be safe in baby humans: An experimental study from Duke University published in 2021.</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0253543" target="_blank">Read Article</a></div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">A scientific review, not yet peer reviewed, pointing towards direct-to-consumer advertising as a driving force behind apparent increases in acetaminophen-induced brain injury in babies and children.</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.preprints.org/manuscript/202011.0224/v1" target="_blank">Read Article</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">A review of evidence from 2018 published in a main-stream news outlet: Real Clear Investigations</h5>
           </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:56782ff8-5dfc-4f9e-9641-0146b3ba4a81" target="_blank">Read Article</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">If acetaminophen is dangerous for babies, why doesn’t everybody know? A brief informal review of evidence from 2018</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:afbedd6f-2395-4b22-ab8f-fd2a5a7c21de" target="_blank">Read Article</a></div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-text">Great data and bad interpretations: born with the susceptibility to acetaminophen-induced injury: A brief informal review of evidence from 2018</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:0b41ef3a-835f-48b4-9723-8f9015d26ee4" target="_blank">Read Article</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"> We keep historical records of old articles. Although information in those articles has been updated, those interested in the history of this issue will find those older articles interesting.
                </h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="/research/historical">Read Articles</a></div>
        </div>
    </div>
</div>  