<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><br /><br /><img src="../../../assets/WilliamsLabPhoto.jpeg" alt="Photo of William Parker" /><br /><br /></div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <br /><br />
        <h1>About WPLab, Inc.</h1>
        <p style="font-style: italic;">Retired from Duke University after 28 years of research there. Currently CEO of WPLab, Inc., a not-for profit private research laboratory.</p>
        <br />
        <p>Best known for discovering the function of the human appendix, William Parker studied biology as an undergraduate student and went on to earn his Ph.D. in chemistry. He has been working in research since the 1990s and has published numerous peer-reviewed articles. William conducts research that focuses on the issues presented in the immune system as a result of Western civilization. </p>
    </div>
    <div class="col-md-1"></div>
