<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><br /><br /><img src="../../../assets/WilliamsLabPhoto.jpeg" alt="Photo of William Parker" /><br /><br /></div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <br /><br />
        <h1>About WPLab, Inc.</h1>
        <p>WPLab is a not-for-profit company that conducts research and education related to immune system dysfunction in high-income countries. A current focus is the interaction between the immune system and acetaminophen (paracetamol) early in life, and how that interaction affects brain development.</p>
        <br />
        <p>William Parker is currently CEO of WPLab, Inc. He retired from Duke University after more than 27 years of research there. Best known for discovering the function of the human appendix, William Parker studied biology and chemistry as an undergraduate student and went on to earn his Ph.D. in chemistry in 1992. He has been conducting scientific research since the 1980s and has published more than 140 peer-reviewed articles. His focus for the past two decades has been on factors that adversely affect immune function in high-income countries. These factors lay at the foundation of many health problems today, including allergic, autoimmune and neuropsychiatric conditions.</p>
    </div>
    <div class="col-md-1"></div>
