   <!-- Page Content-->
<div class="container px-4 px-lg-5">
 
 <!-- Heading Row-->
 <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../../assets/pregnantLady.png" alt="..." width="100px" /></div>
    <div class="col-lg-8">
        <h1 class="font-weight-light">The Link Between Autism and Acetaminophen</h1>
        <p>Acetaminophen is one of the country’s most popular over-the-counter pain relievers, but there is a concerning link to the development of autism. This page is devoted to an objective look at the connection between acetaminophen use and the recent rise of autism. Although most infants and children are probably safe when taking acetaminophen, current evidence indicates that many infants and children, especially boys, have a condition (called oxidative stress) that, when combined with acetaminophen, leads to the development of autism. Below, there are various articles and blog post links where you can view our current knowledge regarding the connection between acetaminophen and autism. 
            <a routerLink="/research" routerLinkActive="router-link-active">
                Find out more about the link between autism and acetaminophen.
            </a>

        </p>
        <!--<a class="btn btn-primary" href="#!">Donate Now</a>-->
    </div>
</div>
<!--Call to Action
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Your donations help fund Autism research by providing supplies for the lab.  Thank you for any amount.</p></div>
</div>-->