<div class="row">
    <div class="row">
        <div class="col-md-12">
            Return to <a routerLink="/research/2021">most recent research.</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Responses to common objections about the acetaminophen-autism connection. An online article from 2017</h5>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:35e9256f-402c-4469-9977-d656fd26771b" target="_blank">Read Article</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Why are some studies showing a link between autism and acetaminophen so readily dismissed? A brief online article from 2017</h5>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:d592ddee-f926-42d8-ab3a-9b155e6af00f" target="_blank">Read Article</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Overview of evidence connecting autism and acetaminophen. A brief informal review of evidence from 2017</h5>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:24d8eebe-4745-470d-ace6-56a6e4275ccb" target="_blank">Read Article</a></div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Why do some “experts” say acetaminophen is safe for babies and children? A brief online article from 2017</h5>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:acdcb183-ddb8-4747-95b7-a2368521e9a6" target="_blank">Read Article</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Overview of evidence connecting autism and acetaminophen. A brief informal review of evidence from 2017</h5>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:679b9ce8-0ef7-4458-8182-00cbae5851dd" target="_blank">Read Article</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">If acetaminophen is dangerous for babies, why doesn’t everybody know? A brief informal review of evidence from 2017</h5>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:b78b9a7e-b62e-4f86-8625-f4b0a82427e8" target="_blank">Read Article</a></div>
                </div>
            </div>
        </div>
</div>  
